.header {
  margin: 45px 0 0;
  height: 74px;
  padding: 0;
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 618px) {
  .header {
    margin: 28px 0 0;
    height: 56px;
  }

  .header__photo {
    max-height: 24px;
  }
}
