.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../images/Close-Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__container {
  position: relative;
  padding: 36px;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  color: #000;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
}

.modal__heading {
  margin: 0 0 47px 0;
  width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__form-input {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}

.modal__form-input::placeholder {
  color: #000;
}

.modal__form-input:focus::placeholder {
  color: transparent;
}

.modal__submit-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  size: 18px;
  line-height: 22px;
  cursor: pointer;
  height: 50px;
  margin-top: 18px;
  width: 358px;
}

.modal__image-container {
  position: relative;
  margin: auto;
  max-width: 816px;
  max-height: 540px;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 618px) {
  .modal__close {
    bottom: calc(100% + 14px);
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__container {
    padding: 25px 22px;
    width: 282px;
    height: 322px;
  }

  .modal__heading {
    margin-bottom: 75px;
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__form {
    size: 14px;
    line-height: 17px;
  }

  .modal__button {
    width: 100%;
    height: 46px;
  }
}
